body{
    padding:10px;
    width: 300px;
    font-weight: bold;
}
#header{
    font-size: large;
    color:rgb(123, 206, 40);
    margin:5px;
}
.style{
    display:flex;
    justify-content: space-between;
    color: gray;
}
.d1:nth-child(2){
    padding-left: 30px;
    border-left: 1px solid rgb(190, 187, 187);
}
label{
    display:block;
    margin:0px;
}
.check{
    color:rgb(126, 187, 36);
}
#btns{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
hr{
    margin:1px;
}
.message{
    color:rgb(236, 13, 13);
}